In [1]:
# Dependencies
from numpy import genfromtxt
from time import time
from datetime import datetime
from sqlalchemy import Column, Integer, Float, Date, String, ForeignKey
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker
from sqlalchemy.orm import Session
from sqlalchemy import Index
from sqlalchemy import MetaData
from sqlalchemy import Table
import csv
import pandas as pd
from sqlalchemy.ext.automap import automap_base
from sqlalchemy import create_engine, inspect
from sqlalchemy import func

In [2]:
clean_listings = "clean_listing_data.csv"
clean_listings_df = pd.read_csv(clean_listings, encoding="utf-8", low_memory=False )
clean_listings_df["name"] = clean_listings_df["name"].astype(str)
clean_listings_df["neighbourhood"] = clean_listings_df["neighbourhood"].astype(str)
clean_listings_df.head()

,airbnb_id,name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
0,13824783,Full floor of a city cottage (up to 4 guests),55020055,Russ,Lincoln Square,41.976546,-87.684934,Private room,56,2,25,2.57,1,32
1,16740225,Guest Room of Two Bedroom Condo,36722941,Dan,Lincoln Square,41.976522,-87.688755,Private room,36,1,0,0.00,3,0
2,18125245,"Cozy, spacious 2 flat in Lincoln Square!",51669215,Tyler,Lincoln Square,41.972145,-87.699125,Private room,80,1,4,4.00,1,158
3,8362570,Lincoln Square Ravenswood,32837114,Howard,Lincoln Square,41.971007,-87.688129,Private room,80,2,12,0.87,1,52
4,789867,Cozy Private Room in a Classic Chicago Appartm...,2782694,Cameron,Lincoln Square,41.964132,-87.675951,Private room,20,3,96,1.96,1,115

In [3]:
clean_listings_df.dtypes

airbnb_id                           int64
name                               object
host_id                             int64
host_name                          object
neighbourhood                      object
latitude                          float64
longitude                         float64
room_type                          object
price                               int64
minimum_nights                      int64
number_of_reviews                   int64
reviews_per_month                 float64
calculated_host_listings_count      int64
availability_365                    int64
dtype: object

In [4]:
clean_crime = "clean_crime_data.csv"
clean_crime_df = pd.read_csv(clean_crime, encoding="utf-8", low_memory=False)

clean_crime_df.head()

    neighbourhood  CommunityArea  number_of_crimes  crime_rate
0     Rogers Park              1             14867    1.503473
1      West Ridge              2             12483    1.262383
2          Uptown              3             13954    1.411143
3  Lincoln Square              4              7187    0.726808
4    North Center              5              5548    0.561059

In [5]:
clean_crime_df.dtypes

neighbourhood        object
CommunityArea         int64
number_of_crimes      int64
crime_rate          float64
dtype: object

In [6]:
Base = declarative_base()
class Listings(Base):
    __tablename__ = 'listings_table'
    id = Column(Integer, primary_key=True, nullable=False)
    airbnb_id = Column(Integer)  
    name = Column(String(255))
    host_id = Column(Integer)                         
    host_name = Column(String(255))                        
    neighbourhood = Column(String(255))                  
    latitude = Column(Float)         
    longitude = Column(Float)                         
    room_type = Column(String(255))                        
    price = Column(Integer)                             
    minimum_nights  = Column(Integer)                    
    number_of_reviews  = Column(Integer)                   
    reviews_per_month = Column(Float)               
    calculated_host_listings_count = Column(Integer)     
    availability_365 = Column(Integer)                 
   

engine = create_engine("sqlite:///chicagobnbnew.db")
Base.metadata.create_all(engine)

#Create the session
session = Session(bind=engine)

In [7]:
for i, row in clean_listings_df.iterrows():
    
    record = Listings(**{
        'airbnb_id' : row.airbnb_id,
        'name' : row.name,
        'host_id' : row.host_id,                       
        'host_name': row.host_name,                       
        'neighbourhood' : row.neighbourhood,                
        'latitude' : row.latitude,                       
        'longitude' : row.longitude,                         
        'room_type' : row.room_type,                       
        'price' : row.price,                              
        'minimum_nights' : row.minimum_nights,                    
        'number_of_reviews' : row.number_of_reviews,                   
        'reviews_per_month': row.reviews_per_month,                
        'calculated_host_listings_count' : row.calculated_host_listings_count,     
        'availability_365':row.availability_365 
})

    session.add(record)
session.commit()

In [8]:
row

airbnb_id                                                                 18548813
name                              Downtown & Lake Michigan Facing High Rise 2B,2BA
host_id                                                                   28464521
host_name                                                                Stephanie
neighbourhood                                                          Rogers Park
latitude                                                                   42.0198
longitude                                                                 -87.6742
room_type                                                          Entire home,apt
price                                                                          200
minimum_nights                                                                   1
number_of_reviews                                                                0
reviews_per_month                                                                0
calculated_host_listings_count                                                   1
availability_365                                                                54
Name: 5205, dtype: object

In [9]:

Base = declarative_base()
class Crime(Base):
    __tablename__ = 'crime_table'

    id = Column(Integer, primary_key=True, nullable=False)
    neighbourhood  = Column(String(255))
  #  CommunityArea = Column(String(225))
    CommunityArea = Column(Integer)
    number_of_crimes = Column(Integer)
    crime_rate =  Column(Float)


engine = create_engine("sqlite:///chicagobnbnew.db")
Base.metadata.create_all(engine)


session = Session(bind=engine)

In [10]:
dir(Crime)

['CommunityArea',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__mapper__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__table__',
 '__tablename__',
 '__weakref__',
 '_decl_class_registry',
 '_sa_class_manager',
 'crime_rate',
 'id',
 'metadata',
 'neighbourhood',
 'number_of_crimes']

In [11]:
for i, row in clean_crime_df.iterrows():
    record = Crime(**{
        'neighbourhood': row.neighbourhood,
        'CommunityArea' : row.CommunityArea,
        'number_of_crimes': row.number_of_crimes,
        'crime_rate': row.crime_rate
        
         
})

    session.add(record)
session.commit()

In [12]:
row

neighbourhood       Edgewater
CommunityArea              77
number_of_crimes         9472
crime_rate           0.957886
Name: 76, dtype: object

In [13]:
Base = declarative_base()

In [14]:
engine = create_engine("sqlite:///chicagobnbnew.db")
Base = automap_base()
Base.prepare(engine, reflect=True)
Base.classes.keys()

['crime_table', 'listings_table']

In [15]:
from sqlalchemy import create_engine, MetaData, Table
from sqlalchemy.engine.reflection import Inspector

meta = MetaData()
user_table = Table('listings_table', meta)
insp = Inspector.from_engine(engine)
insp.reflecttable(user_table, None)

In [16]:
Listings=Base.classes.listings_table
Listings

sqlalchemy.ext.automap.listings_table

In [17]:
Crime=Base.classes.crime_table
Crime

sqlalchemy.ext.automap.crime_table

In [18]:
inspector = inspect(engine)
inspector.get_table_names()

['crime_table', 'listings_table']

In [19]:
columns = inspector.get_columns('listings_table')
for c in columns:
    print(c['name'], c["type"])

id INTEGER
airbnb_id INTEGER
name VARCHAR(255)
host_id INTEGER
host_name VARCHAR(255)
neighbourhood VARCHAR(255)
latitude FLOAT
longitude FLOAT
room_type VARCHAR(255)
price INTEGER
minimum_nights INTEGER
number_of_reviews INTEGER
reviews_per_month FLOAT
calculated_host_listings_count INTEGER
availability_365 INTEGER

In [20]:
from sqlalchemy import inspect

mapper = inspect(Listings)
print(mapper)

Mapper|listings_table|listings_table

In [21]:
from sqlalchemy import inspect

mapper = inspect(Crime)
print(mapper)

Mapper|crime_table|crime_table

In [22]:
Session = sessionmaker(bind=engine)

session = Session()

In [23]:
engine.execute('SELECT * FROM listings_table LIMIT 5').fetchall()

[(1, 13824783, '0', 55020055, 'Russ', 'Lincoln Square', 41.97654639192563, -87.68493430737107, 'Private room', 56, 2, 25, 2.57, 1, 32),
 (2, 16740225, '1', 36722941, 'Dan', 'Lincoln Square', 41.976521618876994, -87.68875498836796, 'Private room', 36, 1, 0, 0.0, 3, 0),
 (3, 18125245, '2', 51669215, 'Tyler', 'Lincoln Square', 41.97214501590578, -87.69912520197866, 'Private room', 80, 1, 4, 4.0, 1, 158),
 (4, 8362570, '3', 32837114, 'Howard', 'Lincoln Square', 41.97100700324269, -87.68812949988241, 'Private room', 80, 2, 12, 0.87, 1, 52),
 (5, 789867, '4', 2782694, 'Cameron', 'Lincoln Square', 41.964131797914064, -87.67595080694412, 'Private room', 20, 3, 96, 1.96, 1, 115)]

In [24]:
engine.execute('SELECT * FROM crime_table').fetchall()

[(1, 'Rogers Park', 1, 14867, 1.5034727419087341),
 (2, 'West Ridge', 2, 12483, 1.2623831463810269),
 (3, 'Uptown', 3, 13954, 1.4111427080510168),
 (4, 'Lincoln Square', 4, 7187, 0.7268082730946438),
 (5, 'North Center', 5, 5548, 0.5610591761693452),
 (6, 'Lake View', 6, 21016, 2.1253099578902237),
 (7, 'Lincoln Park', 7, 16100, 1.6281637953003707),
 (8, 'Near North Side', 8, 39079, 3.9519883823939868),
 (9, 'Edison Park', 9, 1040, 0.10517331348524137),
 (10, 'Norwood Park', 10, 4541, 0.4592230928235394),
 (11, 'Jefferson Park', 11, 4098, 0.4144233064062683),
 (12, 'Forest Glen', 12, 1924, 0.1945706299476965),
 (13, 'North Park', 13, 3530, 0.3569824967335596),
 (14, 'Albany Park', 14, 9296, 0.9400876174603879),
 (15, 'Portage Park', 15, 12951, 1.3097111374493855),
 (16, 'Irving Park', 16, 11443, 1.1572098328957854),
 (17, 'Dunning', 17, 6233, 0.6303319836091437),
 (18, 'Montclare', 18, 2391, 0.2417974928300116),
 (19, 'Belmont Cragin', 19, 18267, 1.8473085744566384),
 (20, 'Hermosa', 20, 6096, 0.616477422121184),
 (21, 'Avondale', 21, 9165, 0.9268398250886892),
 (22, 'Logan Square', 22, 20562, 2.0793977614264736),
 (23, 'Humboldt Park', 23, 31173, 3.1524689435340663),
 (24, 'West Town', 24, 30517, 3.0861288534895293),
 (25, 'Austin', 25, 62631, 6.33375942009053),
 (26, 'West Garfield Park', 26, 20106, 2.033283308590637),
 (27, 'East Garfield Park', 27, 19168, 1.9384250700818328),
 (28, 'Near West Side', 28, 33017, 3.3389493185982824),
 (29, 'North Lawndale', 29, 31921, 3.2281128266946046),
 (30, 'South Lawndale', 30, 17255, 1.7449668501806148),
 (31, 'Lower West Side', 31, 9895, 1.0006634009004454),
 (32, 'Loop', 32, 31882, 3.2241688274389086),
 (33, 'Near South Side', 33, 7372, 0.7455169875126916),
 (34, 'Armour Square', 34, 3758, 0.3800397231514779),
 (35, 'Douglas', 35, 10741, 1.0862178462932477),
 (36, 'Oakland', 36, 2442, 0.24695503031823016),
 (37, 'Fuller Park', 37, 3533, 0.3572858812916901),
 (38, 'Grand Boulevard', 38, 13970, 1.4127607590277131),
 (39, 'Kenwood', 39, 5619, 0.5682392773784338),
 (40, 'Washington Park', 40, 10784, 1.090566358293118),
 (41, 'Hyde Park', 41, 6457, 0.6529846972828879),
 (42, 'Woodlawn', 42, 14868, 1.5035738700947774),
 (43, 'South Shore', 43, 32221, 3.258451282507655),
 (44, 'Chatham', 44, 21414, 2.1655589759355367),
 (45, 'Avalon Park', 45, 4659, 0.4711562187766726),
 (46, 'South Chicago', 46, 16838, 1.7027963966004749),
 (47, 'Burnside', 47, 1311, 0.1325790519030302),
 (48, 'Calumet Heights', 48, 4742, 0.4795498582182832),
 (49, 'Roseland', 49, 9785, 0.9895393004356604),
 (50, 'Pullman', 50, 4284, 0.4332331490103596),
 (51, 'South Deering', 51, 6732, 0.6807949484448507),
 (52, 'East Side', 52, 1174, 0.11872449041507055),
 (53, 'West Pullman', 53, 15371, 1.5544413476746586),
 (54, 'Riverdale', 54, 4869, 0.4923931378458079),
 (55, 'Hegewisch', 55, 2174, 0.21985267645857184),
 (56, 'Garfield Ridge', 56, 8051, 0.8141830258362289),
 (57, 'Archer Heights', 57, 3391, 0.3429256788735129),
 (58, 'Brighton Park', 58, 9675, 0.9784151999708752),
 (59, 'McKinley Park', 59, 4078, 0.4124007426853984),
 (60, 'Bridgeport', 60, 6246, 0.6316466500277091),
 (61, 'New City', 61, 19229, 1.9445938894304864),
 (62, 'West Elsdon', 62, 3924, 0.3968270020346991),
 (63, 'Gage Park', 63, 8943, 0.9043893677870322),
 (64, 'Clearing', 64, 3787, 0.3829724405467394),
 (65, 'West Lawn', 65, 7637, 0.7723159568142194),
 (66, 'Chicago Lawn', 66, 23154, 2.341522019651229),
 (67, 'West Englewood', 67, 27728, 2.8040823426142043),
 (68, 'Englewood', 68, 25204, 2.5488348010404067),
 (69, 'Greater Grand Crossing', 69, 24147, 2.441942308392426),
 (70, 'Ashburn', 70, 9197, 0.9300759270420814),
 (71, 'Auburn Gresham', 71, 28756, 2.908042117866924),
 (72, 'Beverly', 72, 3701, 0.3742754165469983),
 (73, 'Washington Heights', 73, 11993, 1.2128303352197112),
 (74, 'Mount Greenwood', 74, 2282, 0.23077452055127),
 (75, 'Morgan Park', 75, 7923, 0.8012386180226607),
 (76, "O'Hare", 76, 5872, 0.5938247084474396),
 (77, 'Edgewater', 77, 9472, 0.9578861782040444),
 (78, 'Rogers Park', 1, 14867, 1.5034727419087341),
 (79, 'West Ridge', 2, 12483, 1.2623831463810269),
 (80, 'Uptown', 3, 13954, 1.4111427080510168),
 (81, 'Lincoln Square', 4, 7187, 0.7268082730946438),
 (82, 'North Center', 5, 5548, 0.5610591761693452),
 (83, 'Lake View', 6, 21016, 2.1253099578902237),
 (84, 'Lincoln Park', 7, 16100, 1.6281637953003707),
 (85, 'Near North Side', 8, 39079, 3.9519883823939868),
 (86, 'Edison Park', 9, 1040, 0.10517331348524137),
 (87, 'Norwood Park', 10, 4541, 0.4592230928235394),
 (88, 'Jefferson Park', 11, 4098, 0.4144233064062683),
 (89, 'Forest Glen', 12, 1924, 0.1945706299476965),
 (90, 'North Park', 13, 3530, 0.3569824967335596),
 (91, 'Albany Park', 14, 9296, 0.9400876174603879),
 (92, 'Portage Park', 15, 12951, 1.3097111374493855),
 (93, 'Irving Park', 16, 11443, 1.1572098328957854),
 (94, 'Dunning', 17, 6233, 0.6303319836091437),
 (95, 'Montclare', 18, 2391, 0.2417974928300116),
 (96, 'Belmont Cragin', 19, 18267, 1.8473085744566384),
 (97, 'Hermosa', 20, 6096, 0.616477422121184),
 (98, 'Avondale', 21, 9165, 0.9268398250886892),
 (99, 'Logan Square', 22, 20562, 2.0793977614264736),
 (100, 'Humboldt Park', 23, 31173, 3.1524689435340663),
 (101, 'West Town', 24, 30517, 3.0861288534895293),
 (102, 'Austin', 25, 62631, 6.33375942009053),
 (103, 'West Garfield Park', 26, 20106, 2.033283308590637),
 (104, 'East Garfield Park', 27, 19168, 1.9384250700818328),
 (105, 'Near West Side', 28, 33017, 3.3389493185982824),
 (106, 'North Lawndale', 29, 31921, 3.2281128266946046),
 (107, 'South Lawndale', 30, 17255, 1.7449668501806148),
 (108, 'Lower West Side', 31, 9895, 1.0006634009004454),
 (109, 'Loop', 32, 31882, 3.2241688274389086),
 (110, 'Near South Side', 33, 7372, 0.7455169875126916),
 (111, 'Armour Square', 34, 3758, 0.3800397231514779),
 (112, 'Douglas', 35, 10741, 1.0862178462932477),
 (113, 'Oakland', 36, 2442, 0.24695503031823016),
 (114, 'Fuller Park', 37, 3533, 0.3572858812916901),
 (115, 'Grand Boulevard', 38, 13970, 1.4127607590277131),
 (116, 'Kenwood', 39, 5619, 0.5682392773784338),
 (117, 'Washington Park', 40, 10784, 1.090566358293118),
 (118, 'Hyde Park', 41, 6457, 0.6529846972828879),
 (119, 'Woodlawn', 42, 14868, 1.5035738700947774),
 (120, 'South Shore', 43, 32221, 3.258451282507655),
 (121, 'Chatham', 44, 21414, 2.1655589759355367),
 (122, 'Avalon Park', 45, 4659, 0.4711562187766726),
 (123, 'South Chicago', 46, 16838, 1.7027963966004749),
 (124, 'Burnside', 47, 1311, 0.1325790519030302),
 (125, 'Calumet Heights', 48, 4742, 0.4795498582182832),
 (126, 'Roseland', 49, 9785, 0.9895393004356604),
 (127, 'Pullman', 50, 4284, 0.4332331490103596),
 (128, 'South Deering', 51, 6732, 0.6807949484448507),
 (129, 'East Side', 52, 1174, 0.11872449041507055),
 (130, 'West Pullman', 53, 15371, 1.5544413476746586),
 (131, 'Riverdale', 54, 4869, 0.4923931378458079),
 (132, 'Hegewisch', 55, 2174, 0.21985267645857184),
 (133, 'Garfield Ridge', 56, 8051, 0.8141830258362289),
 (134, 'Archer Heights', 57, 3391, 0.3429256788735129),
 (135, 'Brighton Park', 58, 9675, 0.9784151999708752),
 (136, 'McKinley Park', 59, 4078, 0.4124007426853984),
 (137, 'Bridgeport', 60, 6246, 0.6316466500277091),
 (138, 'New City', 61, 19229, 1.9445938894304864),
 (139, 'West Elsdon', 62, 3924, 0.3968270020346991),
 (140, 'Gage Park', 63, 8943, 0.9043893677870322),
 (141, 'Clearing', 64, 3787, 0.3829724405467394),
 (142, 'West Lawn', 65, 7637, 0.7723159568142194),
 (143, 'Chicago Lawn', 66, 23154, 2.341522019651229),
 (144, 'West Englewood', 67, 27728, 2.8040823426142043),
 (145, 'Englewood', 68, 25204, 2.5488348010404067),
 (146, 'Greater Grand Crossing', 69, 24147, 2.441942308392426),
 (147, 'Ashburn', 70, 9197, 0.9300759270420814),
 (148, 'Auburn Gresham', 71, 28756, 2.908042117866924),
 (149, 'Beverly', 72, 3701, 0.3742754165469983),
 (150, 'Washington Heights', 73, 11993, 1.2128303352197112),
 (151, 'Mount Greenwood', 74, 2282, 0.23077452055127),
 (152, 'Morgan Park', 75, 7923, 0.8012386180226607),
 (153, "O'Hare", 76, 5872, 0.5938247084474396),
 (154, 'Edgewater', 77, 9472, 0.9578861782040444)]

In [25]:
for instance in session.query(Listings)[1:3]:
    print(instance.name)

1
2

In [26]:
import struct
value = struct.unpack('<q', b'\x02\x00\x00\x00\x00\x00\x00\x00')
value

value[0]

2